<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout :: site-head">
<title>Posts</title>
</head>

<body>

	<div th:replace="layout :: menu" />
	<header th:replace="layout :: site-header" />

	<div class="container">
		<header th:replace="layout :: site-message" />

		<div class="row">
		
			<div class="col-sm-8 blog-main">
				<h1 th:text="${post.title}">Title</h1>
				<div th:utext="${post.body}"></div>
			</div>
			
			<aside class="col-sm-3 col-sm-offset-1">
				<div th:replace="layout :: site-recent" />
			</aside>

		</div> <!--/* class="container"  */-->
	</div>

	<footer th:replace="layout :: site-footer" />
	
</body>

</html>
